# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# poetry
uv.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
*.nc
*.nc4
*.grib
*.grb
*.grb2
*.hdf
*.h5
*.csv
*.dat

# Temporary files
*.tmp
*.temp
tmp/
temp/
