---

# Configuration file for plot_seasonal_validation_results.py
# NOTE: The input parameters <agg_label> and <vers> are to be set in get_skill_season.py or passed via bash to get_skill_season.py

#set path to input gcm files
paths:
  lustre:
    home: '/lustre/gmeteo/PTICLIMA'
    rundir: '/lustre/gmeteo/PTICLIMA/Scripts/SBrands/pyPTIclima/pySeasonal'
    dir_flag: '/lustre/gmeteo/PTICLIMA/Scripts/SBrands/pyPTIclima/pySeasonal/FLAG/plot'
    auxdir: '/lustre/gmeteo/PTICLIMA/Inventory/Scripts/pyPTIclima/pySolar'
    dir_netcdf: '/lustre/gmeteo/PTICLIMA/Results/seasonal/validation/' #path to outupt netcdf files produced with this script, containing an xarray dataset with all verification results
    mask_dir: '/lustre/gmeteo/PTICLIMA/Auxiliary-material/Masks' #path to the land-sea masks

# models: ['cmcc4', 'eccc5', 'ecmwf51'] # list of models to be evaluated
models: ['ecmwf51'] # list of models to be evaluated

model_settings: # Settings for all available models
  ecmwf51: # ECMWF SEAS5.1
    file_years: [1981, 2022]
    variables: ['TXm-C4', 'FD-C4', 'SU-C4', 'TR-C4', 'Rx1day-C4', 'Rx5day-C4'] # Variable names in CDS format (one list per model)
    variables_out: ['TXm-C4', 'FD-C4', 'SU-C4', 'TR-C4', 'Rx1day-C4', 'Rx5day-C4'] # Variable names of the binary skill mask generated by this script. These are the variable names used by Predictia
    ref_dataset: ['PTI-grid-v2', 'PTI-grid-v2', 'PTI-grid-v2', 'PTI-grid-v2', 'PTI-grid-v2', 'PTI-grid-v2'] # List of models or reference observational dataset paired with variables

# List of strings defining the modulating oscillations and their phase
# Constructed from the modulator and phase input arguments in get_skill_season.py
# Currently "none", "enso0init", "enso1init" or "enso2init"

subperiods: ['none', 'enso0init', 'enso1init', 'enso2init']

# The domain the verification results have been saved on by get_skill_season.py
domain: 'Iberia'

# Domain the results are plotted for; medcof (corresponds to no sub-domain), medcof2 or iberia; If set to <medcof>, then no sub-selection will be applied and the results for the entire medcof domain will be plotted
sub_domain: 'Iberia'

#plot maps on top of pcolor heat-maps; yes or no
plot_maps: 'no'

# List of variables on which a land-sea mask will be applied, setting values over sea to nan
masked_variables: ['TXm-C4', 'FD-C4', 'SU-C4', 'TR-C4', 'Rx1day-C4', 'Rx5day-C4']

# Load the outlier-corrected validation results; yes or no
corr_outlier: 'no'

# Linear detrending of the gcm and obs time series prior to validation
detrending: ['no', 'yes']

# Critical value used to define the significance of the correlation measure (Pearson and Spearman)
critval_rho: 0.05

# Threshold value above which the skill scores indicate skill (normally set to 0); currently the climatological mean value of the reference dataset (e.g. ERA5) is used as naive reference forecast: Skill Score = 1 - SCORE / SCORE_clim
critval_skillscore: 0

# Percentage threshold beyond which the absolute relative bias is printed with a dot in the maps and thus assumed to be "important"
critval_relbias: 5

# Dummy threshold so far, replace by p-value from a t-test for bias significantly distinct from zero in future versions
critval_bias: 80

# Reliability threshold
critval_reliability: 0.25

# Ranked probability coefficient threshold
critval_rpc: 1

# Skill measures to be plotted
scores: ['rpc', 'bias', 'relbias', 'spearman_r', 'pearson_r', 'crps_ensemble_skillscore_rand', 'reliability_lower_tercile', 'reliability_center_tercile', 'reliability_upper_tercile', 'roc_auc_lower_tercile_skillscore', 'roc_auc_center_tercile_skillscore', 'roc_auc_upper_tercile_skillscore']

# Scores for which continuous values will be stored in the output files
cont_scores: ['roc_auc_lower_tercile_skillscore', 'roc_auc_center_tercile_skillscore', 'roc_auc_upper_tercile_skillscore', 'crps_ensemble_skillscore_rand', 'pearson_r', 'spearman_r', 'bias']

# Magnitude of the upper and lower limit to be plotted in case of relbias and tp
# This is a percentage value and it is used because the relbias can be very large
# in dry regions due to the near-to-zero climatological precip. there
relbias_max: 100

# Variables not participating in the colorbar adjustment made by the script
# due to excessive relative biases, the cbar for these variables is set to
# range from <relbias_max>*-1 to <relbias_max>
manual_cbar_variables: ['none']

# Maximum mean correlation value
meanrho_max: 1.0

# Precision of the variable in the output netCDF files
precision: 'float32'

# Resolution of the output figure in dpi
dpival: 300

# Format of the output figures: pdf, png, etc.
figformat: 'pdf'

# Ascending colormap used for plotting
colormap_ascend: 'Spectral_r'

# Diverging (zero-centered) colormap used for plotting
colormap_div: 'seismic'

# Title size for plots
titlesize: 6
